body {
  background-color: #2E2E2E;
  font-family: FreeMono, monospace, Helvetica, Arial, sans-serif;
  color: beige;
}

div.a {
  width: 600px;  
  margin: auto;

}

div.b { 
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

div.c {

  margin: 15px
}


a.hyperlink {
  
  text-decoration: none;
  color: beige;
}

a.hyperlink:hover {

  text-decoration: underline;
}


p.a {
  text-align: center;
}

h1.a {
  font-size: 75px;
  text-align: center;
}

ul.b {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li.b {
  display: inline-block;
  margin-right: 20px;

}

.btn {

  background-color: beige;
  border: none;
  color: grey;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: FreeMono, monospace, Helvetica, Arial, sans-serif;
  border-radius: 50px;
}

.btn:hover {
  background-color: rgb(192, 173, 156);
}

.container {
  text-align: center;
  height: 100px;
  position: relative;
  border: none
}
