
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  

  ul.b {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li.b {
    display: inline-block;
    margin-right: 20px;
  }

  ul.a {
    list-style-type: circle;
  }

  ul.a {
    text-align: center;
    list-style-position: inside;
}