@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #000000 ;
  font-family: FreeMono, monospace, Helvetica, Arial, sans-serif;
  color: beige;
}

@keyframes vibrant-glow {
  0% {
      box-shadow: 0 0 5px #8ff;
  }
  50% {
      box-shadow: 0 0 20px 5px #ba8ffbdf;
  }
  100% {
      box-shadow: 0 0 5px #ffe7abf3;
  }
}
